body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    padding: 0 2rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.header_logo {
    height: 40px;
    width: 40px;
}

.header_navigationLinks {
    display: flex;
    line-height: 45px;
}

.header_navigationLinks a {
    padding: 0 1.3rem;
    text-decoration: none;
}

.aboutUs_link-linkText {
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    transition: .4s;
}

.header_phone {
    display: flex;
    line-height: 45px;
}

.header_phone-icon {
    padding-right: 6px;
}

.header_phone-icon img {
    height: 14px;
    width: 14px;
}

.header_phone-number a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Play";
    color: #292929;
}

.heroContent {
    background-color: #f5f5f5;
}

.heroContent__container {
    display: flex;
    margin-top: 3rem;
}

.heroContent__desc {
    width: 45%;
}

.heroContent__image {
    width: 55%;
}

.heroContent__image {
    position: relative;
}

.heroContent__desc--item:not(:last-child) {
    padding-bottom: 1.5rem;
}

.heroContent__desc--item:last-child {
    padding-top: 2rem;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
}

.heroText {
    font-size: 25px;
    font-weight: 400;
    color: #292929;
}

.order_button {
    width: 82px;
    background-color: #e01f3d;
    border-radius: 30px;
    padding: 1.1rem 2.4rem;
    transition: .5s;
    cursor: pointer;
}

.order_button:hover {
    background-color: #ca1b36;
}

.order_button a {
    display: block;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.advantages_row {
    display: flex;
    justify-content: space-between;
}

.advantages_row-item {
    display: flex;
    width: 140px;
}

.advantage_text {
    line-height: 15px;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
}

.advantages_row-item img {
    height: 40px;
    width: 34px;
}

.navigation__dots {
    position: absolute;
    top: 28%;
    right: 65px;
}

li.navigation__dot--item {
    color: #292929;
    margin-bottom: 3px;
}

.advantages_wrapper {
    padding: 5rem 2rem;
}

.titleRow {
    text-align: center;
    margin-bottom: 4rem;
}

.titleRow-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 1.3rem;
}

.titleRow-desc {
    width: 30rem;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0 auto;
}

.advantagesRow {
    position: relative  ;
    display: flex;
    justify-content: space-between;
}

.advantageRow_item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantageRow_item-image {
    width: 55px;
    border-radius: 50%;
    background-color: #f2f5f4;
    padding: 2.2rem;
    margin-bottom: 1rem;
}

.advantageRow_item-desc {
    width: 15rem;
    text-align: center;
}

.advantageRow_item-desc h5 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
}

.advantageRow_item-desc p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 6px 0;
}

.threeDots_row {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.threeDots_row.left {
    top: 20%;
    left: 30%;
}

.threeDots_row.right {
    top: 20%;
    right: 30%;
}

.dotRing {
    height: 0px;
    background-color: #dadada;
    border-radius: 50%;
    padding: 5px;
    margin: 4px 4px;
}

.dotRing.middle {
    margin: 0 4px;
    padding: 9px;
}

.productSlider_block {
    background-color: #f5f5f5;
}

.productSlider {
    padding: 5rem 1rem;
}

.productSlider_item {
    display: flex;
    flex-direction: row;
}

.slider_item-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.slider_item-desc {
    width: 50%;
    position: relative;
}

.settings_button {
    background-color: #9f9f9f;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    padding: 1.75rem;
    cursor: pointer;
    transition: .7s;
}

.settings_button:hover {
    background-color: #6e6e6e;
}

.settings_featuresContainer {
    position: absolute;
    top: 0px;
    left: 95px;
    border-radius: 4px;
    background-color: white;
}

.feature_rowItem {
    display: flex;
    width: 15.2rem;
    padding: 0 1.5rem;
}

.feature_rowItem:not(:last-child) {
    margin-bottom: 1rem;
}

.feature_rowItem:first-child {
    padding-top: 1rem;
}

.feature_rowItem:last-child {
    padding-bottom: 1rem;
}

.feature_rowItem-image {
    display: flex;
    justify-content: center;
    width: 30px;
    margin: auto 0;
}

.feature_rowItem-firstP {
    width: 64%;
    font-size: 16px;
    margin-left: 1.2rem;
}

.feature_rowItem-secondP {
    font-size: 16px;
}

.itemSlider_title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 20px;
}

.itemSlider_text {
    width: 20rem;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.itemSlider_feature {
    display: flex;
}

.itemSlider_feature span:first-child {
    margin-right: 4rem;
}

.itemSlider_feature span > p:first-child {
    font-weight: 400;
    color: #666666;
    margin-bottom: 0;
}

.itemSlider_feature span > p:last-child {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.itemSlider_priceButtonRow {
    display: flex;
}

.itemSlider_priceButtonRow p {
    font-size: 36px;
    line-height: 66px;
    font-weight: 400;
    color: #151515;
    margin: 0;
}

.order_button.slider {
    border-radius: 36px;
    margin-left: 1.5rem;
    padding: 1.5rem 2.8rem;
}

.reviews_block {
    margin: 2rem 0;
}

.SectionReviews_title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reviews_display {
    position: relative;
    background-color: #f8faf9;
    padding: 3.15rem 2.8rem 2.1rem;
    overflow: hidden;
}

.reviews_display::before {
    position: absolute;
    left: 50%;
    top: -65px;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
}

.reviews_switcher {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.reviews_display-inner {
    display: flex;
}

.reviews_avatar {
    width: 260px;
    height: 260px;
}

.reviews_avatar-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews_content {
    flex: 1;
    margin-left: 20px;
}

.reviews_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
}

.reviews_text {
    width: 65%;
    font-size: 16px;
    margin-bottom: 2.25rem;
    color: #666666;
}

.reviews_author {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.clickable_avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 6px solid #0f5a47; */
    border: 6px solid transparent;
    overflow: hidden;
}

.clickable_avatar-active {
    border-color: #0f5a47;
}

.clickable_avatar-link {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.clickable_avatar-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.orderForm_block {
    background: url(../img/orderForm/black_background.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}

.orderForm_title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

.orderForm {
    display: flex;
}

.orderForm:last-child {
    margin-right: 0;
}

.orderForm_col {
    width: 50%;
    padding: 1rem;
}

.orderForm_row {
    display: flex;
    margin-bottom: 18px;
}

.orderForm_row:last-child {
    margin-bottom: 0;
}

.orderForm_label {
    flex: 1;
    color: white;
    margin-right: 20px;
}

.orderForm_label:last-child {
    margin-right: 0;
}

.orderForm_Labeltitle {
    font-size: 16px;
}

.orderForm_input {
    width: 100%;
    border: 3px solid transparent;
    box-sizing: border-box;
    padding: 18px 10px;
}

.orderForm_input:focus {
    border-color: #dee2bd;
    outline: none;
}

.orderForm_input-textarea {
    height: 158px;
    resize: none;
}

.orderForm_controls {
    display: flex;
    flex-wrap: wrap;
}

.orderForm_controls:last-child {
    margin-top: 10px;
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.radio-elem {
    display: none;
}

.radio-elem:checked ~ .radio_visible::before {
    display: block;
}

.radio_visible {
    position: relative;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
}

.radio_visible::before {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: #e01f3d;
    border-radius: 50%;
}

.radio_checkbox .radio_visible {
    border-radius: 0;
}

.radio_checkbox .radio_visible::before {
    border-radius: 0;
}

.radio_title {
    color: white;
    margin: auto 6px;
}

.orderForm_buttons {
    display: flex;
    justify-content: flex-end;
}

.order_button.btn--theme--red {
    width: 150px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ca1b36;
    color: white;
    border: none;
    margin-right: 1rem;
}

.order_button.btn--theme--red:hover {
    background-color: white;
    color: #ca1b36;
}

.order_button.btn--theme--transparent {
    width: 150px;
    text-transform: uppercase;  
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
    border: none;
}

.order_button.btn--theme--transparent:hover {
    background-color: white;
    color: black;
}