.burgerMenu_block .container {
    margin: 0;
}

.burgerMenu_block {
    position: relative;
    background: url(../../img/burgerMenu/burgerMenu_background.jpg) center center/cover no-repeat;
    color: white;

    @media (max-width: 540px) {
        position: relative;
    }
}

.section_productMenu-title {
    font-size: 48px;
    text-transform: uppercase;
    padding-top: 2rem;

    @media (max-width: 540px) {
        font-size: 40px;
    }

    @media (max-width: 480px) {
        font-size: 30px;
    }
}

.desctop-accordeon {
    display: block;

    @media (max-width: 540px){
        display: none;
    }
}

.mobile-accordeon {
    display: none;

    @media (max-width: 540px){
        display: block;
    }
}

.products_menu, .color_menu {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.product_menu-item, .color_menu-item {
    display: flex;
}

// @media (max-width: 440px) {
//     .color_menu {
//         width: 100%;
//     }

//     .color_menu-item {
//         width: 33.33%;
//     }
// }

.color_menu-item.active {
    position: absolute;
    left: 0;
    top: 0;
    bottom: inherit;
}

.color_menu-item.hidden {
    z-index: -1;
}

.product_menu-title, .color_menu-title {
    position: relative;
    width: 100px;
    cursor: pointer;

    &.silver {
        background-color: #999999;
    }

    &.black {
        background-color: black;
    }

    &.red {
        background-color: #ca1b36;
    }
}

.product_menu-text, .color_menu-text {
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin: 0rem auto;
}

.product_menu-content, .color_menu-content {
    position: relative;
    width: 0;
    overflow: hidden;
    background: rgba(47, 50, 52, 0.9);
    transition: width 1.5s;
}

.color_menu-item .color_menu-content {
    transition: width 0.01s;
}

.color_menu-item.active .color_menu-content {
    width: 100%;
    transition: width 0.2s;
}

.product_menu-container p, .color_menu-container p {
    margin: 1rem;
    font-size: 18px;
    letter-spacing: 0.6px;

    @media (max-width: 540px) {
        font-size: 16px;
    }
}