.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.logo-link {
    display: flex;
}

.header_logo {
    height: 40px;
    width: 40px;
    margin: auto;

    @media (max-width: 1250px) {
        height: 37px;
        width: 37px;
    }
}

.header_navigationLinks {
    display: flex;
    line-height: 45px;

    & a {
        padding: 0 1.3rem;
        text-decoration: none;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

.aboutUs_link-linkText {
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    transition: .4s;
}

.header_phone {
    display: flex;
    line-height: 45px;

    @media (max-width: 1024px) {
        display: none;
    }
}

.header_phone-icon {
    padding-right: 6px;
    margin-top: 2px;
}

.header_phone-icon {
    & img {
        height: 14px;
        width: 14px;
    }
}

.header_phone-number {
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #292929;
        transition: .4s;
    }

    a:hover {
        color: #ca1b36;
    }

    @media (max-width: 1250px) {
        a {
            font-size: 16px;
        }
    }
}

.header_hamgurgerMenu {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}

.nav_link span {
    @media (max-width: 1250px) {
        font-size: 14px;
    }
}