.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
}

.header_logo {
  height: 40px;
  width: 40px;
}

.header_navigationLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 45px;
}

.header_navigationLinks a {
  padding: 0 1.3rem;
  text-decoration: none;
}

.aboutUs_link-linkText {
  font-size: 20px;
  font-weight: 400;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 45px;
}

.header_phone-icon {
  padding-right: 6px;
}

.header_phone-icon img {
  height: 14px;
  width: 14px;
}

.header_phone-number a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Play";
  color: #292929;
}

.header_phone-number a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header_phone-number a:hover {
  color: #ca1b36;
}