.heroContent {
    position: relative;
    background-color: #f5f5f5;
}

.heroContent__container {
    display: flex;
    margin-top: 3rem;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 768px) {
        margin-top: 10px;
    }
}

.heroContent__desc {
    width: 45%;
}

.heroContent__image {
    width: 55%;
}

@media (max-width: 1250px) {
    .heroContent__desc {
        width: 48%;
    }
    
    .heroContent__image {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .heroContent__desc, .heroContent__image {
        width: 100%;
    }
}

.heroContent__image {
    position: relative;
    display: flex;
}

.heroContent__image img {
    margin: 0 auto;

    @media (max-width: 1250px) {
        width: 350px;
        height: 350px;
    }

    @media (max-width: 1024px) {
        width: 300px;
        height: 300px;
    }

    @media (max-width: 540px) {
        width: 260px;
        height: 260px;
    }

    @media (max-width: 400px) {
        width: 280px;
        height: 280px;
    }
}

.heroContent__desc--item {
    &:not(:last-child) {
        padding-bottom: 1.5rem;
    }

    &:last-child {
        padding-top: 2rem;
    }

    @media (max-width: 1024px) {
        &:last-child {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        &:not(:last-child) {
            padding-bottom: 12px;
        }
    }
}

h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;

    @media (max-width: 1250px) {
        font-size: 38px;
    }

    @media (max-width: 1024px) {
        text-align: center;
        font-size: 30px;
    }

    @media (max-width: 540px) {
        font-size: 30px;
    }

    @media (max-width: 400px) {
        font-size: 26px;
    }
}

.aboutUs_link-linkText {
    transition: .4s;
}

.aboutUs_link-linkText:hover {
    color: #ca1b36;
}

.heroText {
    font-size: 25px;
    font-weight: 400;
    color: #292929;

    @media (max-width: 1024px) {
        text-align: center;
    }

    @media (max-width: 540px) {
        font-size: 20px;
    }

    @media (max-width: 400px) {
        font-size: 18px;
    }
}

.order_button {
    width: 82px;
    background-color: #e01f3d;
    border-radius: 30px;
    padding: 1.1rem 2.4rem;
    transition: .5s;
    cursor: pointer;

    &.hero {
        @media (max-width: 1024px) {
            margin: 0 auto;
        }
    }
}

.order_button {
    &:hover {
        background-color: #ca1b36;
        transform: translateY(2px);
    }
}

.order_button {
    & a {
        display: block;
        height: 100%;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }
}

.advantages_row {
    display: flex;
    justify-content: space-between;
}

.advantages_row-item {
    display: flex;
    width: 140px;
}

.advantage_text {
    line-height: 15px;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
}

.advantages_row-item img {
    height: 40px;
    width: 34px;
}

.navigation__dots {
    position: absolute;
    top: 28%;
    right: 65px;
}

li.navigation__dot--item {
    color: #292929;
    margin-bottom: 3px;
}

.advantages_wrapper {
    padding: 5rem 2rem;

    @media (max-width: 1024px) {
        padding: 3rem 1rem;
    }

    @media (max-width: 400px) {
        padding: 1rem;
    }
}

.titleRow {
    text-align: center;
    margin-bottom: 1rem;
}

.titleRow-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 1.3rem;

    @media (max-width: 1024px) {
        font-size: 40px;
    }

    @media (max-width: 768px) {
        font-size: 30px;
    }

    @media (max-width: 480px) {
        font-size: 24px;
    }
}

.titleRow-desc {
    width: 30rem;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 90%;
    }

    @media (max-width: 400px) {
        width: 100%;
        font-size: 14px;
    }
}

.advantagesRow {
    position: relative  ;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.advantageRow_item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
        width: 29%;
    }

    @media (max-width: 768px) {
        width: 100%;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    @media (max-width: 400px) {
        margin-bottom: 8px;
    }
}

.advantageRow_item-image {
    width: 55px;
    border-radius: 50%;
    background-color: #f2f5f4;
    padding: 2.2rem;
    margin-bottom: 1rem;

    @media (max-width: 1024px) {
        width: 42px;
    }

    @media (max-width: 768px) {
        width: 60px;
        padding: 2rem;
        margin-right: 1rem;
    }

    @media (max-width: 400px) {
        width: 50px;
        padding: 1rem;
    }
}

.advantageRow_item-desc {
    width: 15rem;
    text-align: center;

    @media (max-width: 1024px) {
        width: 100%;
    }

    & h5 {
        font-size: 24px;
        font-weight: 700;
        margin: 0 auto;

        @media (max-width: 1024px) {
            font-size: 20px;
        }

        @media (max-width: 820px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            text-align: left;
            font-size: 22px;
        }

        @media (max-width: 480px) {
            font-size: 18px;
        }
    }

    & p {
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        margin: 6px 0;

        @media (max-width: 1024px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            text-align: left;
            font-size: 18px;
        }

        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
}

.threeDots_row {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.threeDots_row.left {
    top: 20%;
    left: 30%;

    @media (max-width: 1024px) {
        display: none;
    }
}

.threeDots_row.right {
    top: 20%;
    right: 30%;

    @media (max-width: 1024px) {
        display: none;
    }
}

.dotRing {
    height: 0px;
    background-color: #dadada;
    border-radius: 50%;
    padding: 5px;
    margin: 4px 4px;
}

.dotRing.middle {
    margin: 0 4px;
    padding: 9px;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    visibility: hidden;

    @media (max-width: 1024px) {
        &.active {
            visibility: visible;
            transform: translateX(0);
        }
    }
}

.absolute-menu-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #313131;
}

.site-chapter-list {
    list-style: none;
    margin: 10% auto 0;

    @media(max-width: 640px) {
        margin: 15% auto 0;
    }

    @media(max-width: 480px) {
        margin: 20% auto 0;
    }
}

.site-chapter {
    font-size: 30px;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 25px;
    }

    @media(max-width: 480px) {
        font-size: 26px;
    }
}

li.site-chapter a {
    text-decoration: none;
    color: #ffffff;
}

.close-burger-button {
    position: absolute;
    display: flex;
    top: 7%;
    right: 5%;

    @media(max-width: 480px) {
        top: 6%;
        right: 8%;
    }
}

.close-burger-button img {
    width: 24px;
    height: 24px;
    opacity: .7;

    @media(max-width: 480px) {
        width: 18px;
        height: 18px;
    }
}
