.videoWrapper {
    display: flex;
    flex-direction: column;
}

.howWeWorks_title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;

    @media(max-width: 678px) {
        font-size: 40px;
    }

    @media(max-width: 480px) {
        font-size: 32px;
    }
}

.howWeWorks_video {
    margin: 0 auto;
}

.howWeWorks_video iframe {
    @media(max-width: 1200px) {
        width: 600px;
        height: 400px;
    }

    @media(max-width: 678px) {
        width: 480px;
        height: 300px;
    }

    @media(max-width: 540px) {
        width: 400px;
        height: 250px;
    }

    @media(max-width: 480px) {
        width: 320px;
        height: 220px;
    }

    @media(max-width: 360px) {
        width: 290px;
        height: 200px;
    }
}