.howWeWorksVideo_block {
    margin-bottom: 4rem;
}

.videoWrapper {
    display: flex;
    flex-direction: column;
}

.howWeWorks_title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.howWeWorks_video {
    margin: 0 auto;
}