html, body, section {
  height: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.yandexMap {
  display: block;
}

body {
  margin: 0;
  font-family: PlayRegular;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main_page {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: PlayBold;
}

.container {
  max-width: 1170px;
  padding: 0 2rem;
  margin: auto;
}
@media (max-width: 400px) {
  .container {
    padding: 0 1rem;
  }
}

.container-header {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .container-header {
    width: 90%;
  }
}