.orderForm_block {
  background: url(../../img/orderForm/black_background.jpg) center no-repeat;
  background-size: cover;
}

.orderForm_title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .orderForm_title {
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 1rem;
  }
}
@media (max-width: 600px) {
  .orderForm_title {
    font-size: 34px;
  }
}
@media (max-width: 480px) {
  .orderForm_title {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .orderForm_title {
    font-size: 24px;
  }
}

.orderForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .orderForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.orderForm:last-child {
  margin-right: 0;
}

.orderForm_col {
  width: 50%;
  padding: 1rem;
}
@media (max-width: 768px) {
  .orderForm_col {
    width: 70%;
    padding: 8px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .orderForm_col {
    width: 100%;
    padding: 8px 0 0 0;
    margin: 0 auto;
  }
}

.orderForm_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.orderForm_row:last-child {
  margin-bottom: 0;
}

.orderForm_label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  margin-right: 20px;
}

.orderForm_label:last-child {
  margin-right: 0;
}

.orderForm_Labeltitle {
  font-size: 16px;
}

.orderForm_input {
  width: 100%;
  font-size: 20px;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 5px;
}
@media (max-width: 1024px) {
  .orderForm_input {
    font-size: 15px;
    padding: 5px 3px;
  }
}

.orderForm_input:focus {
  border-color: #dee2bd;
  outline: none;
}

.orderForm_input-textarea {
  height: 158px;
  resize: none;
}

.orderForm_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.orderForm_controls:last-child {
  margin-top: 12px;
}
@media (max-width: 600px) {
  .orderForm_controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1024px) {
  .radio {
    font-size: 15px;
  }
  .radio:first-child {
    margin-right: 10px;
  }
}
@media (max-width: 1024px) and (max-width: 400px) {
  .radio:first-child {
    margin-right: 8px;
  }
}
@media (max-width: 1024px) and (max-width: 400px) {
  .radio {
    font-size: 13px;
  }
}

.radio-elem {
  display: none;
}

.radio-elem:checked ~ .radio_visible::before {
  display: block;
}

.radio-elem:checked ~ .radio_visible::before {
  display: block;
}

.radio_visible {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
}

.radio_visible::before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: #e01f3d;
  border-radius: 50%;
}

.radio_checkbox .radio_visible {
  border-radius: 0;
}

.radio_checkbox .radio_visible::before {
  border-radius: 0;
}

.radio_title {
  color: white;
  margin: auto 6px;
}
@media (max-width: 400px) {
  .radio_title {
    margin: auto 2px;
  }
}

.orderForm_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 768px) {
  .orderForm_buttons {
    margin-top: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order_button.btn--theme--red {
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ca1b36;
  color: white;
  border: none;
  margin-right: 1rem;
}
@media (max-width: 400px) {
  .order_button.btn--theme--red {
    width: 120px;
    font-size: 12px;
    padding: 1rem;
  }
}

.order_button.btn--theme--red:hover {
  background-color: white;
  color: #ca1b36;
}

.order_button.btn--theme--transparent {
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #ffffff;
  border: none;
}
@media (max-width: 400px) {
  .order_button.btn--theme--transparent {
    width: 120px;
    font-size: 12px;
    padding: 1rem;
  }
}

.order_button.btn--theme--transparent:hover {
  background-color: white;
  color: black;
}