.orderForm_block {
  background: url(../../img/orderForm/black_background.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}

.orderForm_title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.orderForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.orderForm:last-child {
  margin-right: 0;
}

.orderForm_col {
  width: 50%;
  padding: 1rem;
}

.orderForm_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.orderForm_row:last-child {
  margin-bottom: 0;
}

.orderForm_label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  margin-right: 20px;
}

.orderForm_label:last-child {
  margin-right: 0;
}

.orderForm_Labeltitle {
  font-size: 16px;
}

.orderForm_input {
  width: 100%;
  font-size: 20px;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 5px;
}

.orderForm_input:focus {
  border-color: #dee2bd;
  outline: none;
}

.orderForm_input-textarea {
  height: 158px;
  resize: none;
}

.orderForm_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orderForm_controls:last-child {
  margin-top: 10px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-elem {
  display: none;
}

.radio-elem:checked ~ .radio_visible::before {
  display: block;
}

.radio-elem:checked ~ .radio_visible::before {
  display: block;
}

.radio_visible {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
}

.radio_visible::before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: #e01f3d;
  border-radius: 50%;
}

.radio_checkbox .radio_visible {
  border-radius: 0;
}

.radio_checkbox .radio_visible::before {
  border-radius: 0;
}

.radio_title {
  color: white;
  margin: auto 6px;
}

.orderForm_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.order_button.btn--theme--red {
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ca1b36;
  color: white;
  border: none;
  margin-right: 1rem;
}

.order_button.btn--theme--red:hover {
  background-color: white;
  color: #ca1b36;
}

.order_button.btn--theme--transparent {
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.order_button.btn--theme--transparent:hover {
  background-color: white;
  color: black;
}