.orderForm_block {
    background: url(../../img/orderForm/black_background.jpg) center no-repeat;
    background-size: cover;
}

.orderForm_title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    padding-top: 4rem;
    margin-bottom: 3rem;

    @media(max-width: 768px) {
        font-size: 40px;
        margin-bottom: 10px;
        padding-top: 1rem;
    }

    @media(max-width: 600px) {
        font-size: 34px;
    }

    @media(max-width: 480px) {
        font-size: 28px;
    }

    @media(max-width: 400px) {
        font-size: 24px;
    }
}

.orderForm {
    display: flex;

    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.orderForm {
    &:last-child {
        margin-right: 0;
    }
}

.orderForm_col {
    width: 50%;
    padding: 1rem;

    @media(max-width: 768px) {
        width: 70%;
        padding: 8px;
        margin: 0 auto;
    }

    @media(max-width: 600px) {
        width: 100%;
        padding: 8px 0 0 0;
        margin: 0 auto;
    }
}

.orderForm_row {
    display: flex;
    margin-bottom: 18px;
}

.orderForm_row {
    &:last-child {
        margin-bottom: 0;
    }
}

.orderForm_label {
    flex: 1;
    color: white;
    margin-right: 20px;
}

.orderForm_label {
    &:last-child {
        margin-right: 0;
    }
}

.orderForm_Labeltitle {
    font-size: 16px;
}

.orderForm_input {
    width: 100%;
    font-size: 20px;
    border: 3px solid transparent;
    box-sizing: border-box;
    padding: 8px 5px;

    @media(max-width: 1024px) {
        font-size: 15px;
        padding: 5px 3px;
    }
}

.orderForm_input {
    &:focus {
        border-color: #dee2bd;
        outline: none;
    }
}

.orderForm_input-textarea {
    height: 158px;
    resize: none;
}

.orderForm_controls {
    display: flex;
    flex-wrap: wrap;

    &:last-child {
        margin-top: 12px;
    }

    @media(max-width: 600px) {
        justify-content: center;
    }
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;

    @media(max-width: 1024px) {

        font-size: 15px;

        &:first-child {
            margin-right: 10px;

            @media(max-width: 400px) {
                margin-right: 8px;
            }
        }

        @media(max-width: 400px) {
            font-size: 13px;
        }
    }
}

.radio-elem {
    display: none;
}

.radio-elem:checked ~ .radio_visible::before {
    display: block;
}

.radio-elem:checked ~ {
    & .radio_visible {
        &::before {
            display: block;
        }
    }
}

.radio_visible {
    position: relative;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
}

.radio_visible {
    &::before {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        background: #e01f3d;
        border-radius: 50%;
    }
}

.radio_checkbox {
    .radio_visible {
        border-radius: 0;
    }
}

.radio_checkbox {
    .radio_visible { 
        &::before{
            border-radius: 0;
        }
    }
}

.radio_title {
    color: white;
    margin: auto 6px;

    @media(max-width: 400px) {
        margin: auto 2px;
    }
}

.orderForm_buttons {
    display: flex;
    justify-content: flex-end;

    @media(max-width: 768px) {
        margin-top: 12px;
        justify-content: center;
    }
}

.order_button.btn--theme--red {
    width: 150px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ca1b36;
    color: white;
    border: none;
    margin-right: 1rem;

    @media(max-width: 400px) {
        width: 120px;
        font-size: 12px;
        padding: 1rem;
    }
}

.order_button.btn--theme--red {
    &:hover {
        background-color: white;
        color: #ca1b36;
    }
}

.order_button.btn--theme--transparent {
    width: 150px;
    text-transform: uppercase;  
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
    border: none;

    @media(max-width: 400px) {
        width: 120px;
        font-size: 12px;
        padding: 1rem;
    }
}

.order_button.btn--theme--transparent {
    &:hover {
        background-color: white;
        color: black;
    }
}