.reviews_block {
  margin: 4rem 0;
}

.SectionReviews_title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.reviews_display {
  position: relative;
  background-color: #f8faf9;
  padding: 3.15rem 2.8rem 2.1rem;
  overflow: hidden;
}

.reviews_display::before {
  position: absolute;
  left: 50%;
  top: -65px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
}

.reviews_switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.reviews_list {
  position: relative;
  min-height: 280px;
}

.reviews_display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews_item {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.reviews_item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews_avatar {
  width: 260px;
  height: 260px;
}

.reviews_avatar-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.reviews_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
}

.reviews_text {
  width: 65%;
  font-size: 16px;
  margin-bottom: 2.25rem;
  color: #666666;
}

.reviews_author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.clickable_avatar {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid transparent;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.clickable_avatar:not(:last-child) {
  margin-right: 8px;
}

.clickable_avatar:hover {
  border-color: #e01f3d;
}

.clickable_avatar-active {
  border-color: #e01f3d;
}

.clickable_avatar-link {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.clickable_avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}