.productSlider_block {
    background-color: #f5f5f5;
}

.productSlider {
    padding: 2rem 1rem;

    @media(max-width: 480px) {
        padding: 1rem;
    }
}

.productSlider.own {
    display: flex;
}

.productSlider_list {
    display: flex;
}

.productSlider_list.own {
    display: flex;
    width: 1000px;
    overflow: hidden;
}

.productSlider_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.slider_item-image {
    width: 50%;
    display: flex;
    justify-content: center;

    @media (max-width: 1250px) {
        width: 30%;
    }

    @media (max-width: 1024px) {
        width: 25%;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.slider_item-image img {
    @media (max-width: 1250px) {
        width: 240px;
        height: 240px;
        margin: auto;
    }

    @media (max-width: 1024px) {
        width: 180px;
        height: 180px;
        margin: auto;
    }

    @media (max-width: 768px) {
        width: 240px;
        height: 240px;
        margin: 0 auto;
    }

    @media (max-width: 480px) {
        width: 180px;
        height: 180px;
    }
}

.slider_item-desc {
    width: 50%;
    position: relative;

    @media (max-width: 1250px) {
        width: 70%;
    }

    @media (max-width: 1024px) {
        width: 75%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.settings_button {
    background-color: #9f9f9f;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    padding: 1.75rem;
    cursor: pointer;
    transition: .7s;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        display: none;
    }
}

.settings_button {
    &:hover {
        background-color: #6e6e6e;
    }
}

.settings_featuresContainer {
    display: none;
    position: absolute;
    top: 0px;
    left: 95px;
    border-radius: 4px;
    background-color: white;
}

.settings_featuresContainer.active {
    display: block;
    animation: showFeature 0.4s linear;
}

@keyframes showFeature {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

.feature_rowItem {
    display: flex;
    width: 15.2rem;
    padding: 0 1.5rem;
}

.feature_rowItem {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.feature_rowItem {
    &:first-child {
        padding-top: 1rem;
    }
}

.feature_rowItem {
    &:last-child {
        padding-bottom: 1rem;
    }
}

.feature_rowItem-image {
    display: flex;
    justify-content: center;
    width: 30px;
    margin: auto 0;
}

.feature_rowItem-firstP {
    width: 60%;
    line-height: 28px;
    font-size: 16px;
    margin-left: 1.2rem;
}

.feature_rowItem-secondP {
    font-size: 16px;
}

.itemSlider_title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 20px;

    @media (max-width: 1250px) {
        font-size: 24px;
    }

    @media (max-width: 1024px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 480px) {
        font-size: 24px;
    }
}

.itemSlider_text {
    width: 20rem;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        width: 80%;
        text-align: center;
        margin: 0 auto 8px;
    }
}

.itemSlider_feature {
    display: flex;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.itemSlider_feature span  {
    &:first-child {
        margin-right: 4rem;
    }
}

.itemSlider_feature {
    & span > {
        & p:first-child {
            font-weight: 400;
            color: #666666;
            margin-bottom: 0;
        }
    }
}

.itemSlider_feature {
    & span > {
        & p:last-child {
            font-size: 18px;
            font-weight: 700;
            margin-top: 0; 
        }
    }
}

.itemSlider_priceButtonRow {
    display: flex;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.itemSlider_priceButtonRow {
    & p {
        font-size: 36px;
        line-height: 66px;
        font-weight: 400;
        color: #151515;
        margin: 0;

        @media (max-width: 480px) {
            font-size: 30px;
            line-height: 48px;
        }

        @media (max-width: 360px) {
            font-size: 24px;
            line-height: 48px;
        }
    }
}

.order_button.slider {
    border-radius: 36px;
    margin-left: 1.5rem;
    padding: 1.5rem 2.8rem;

    @media (max-width: 480px) {
        padding: 1rem 2rem;
    }

    @media (max-width: 360px) {
        padding: .5rem 1rem;

        & a {
            line-height: 30px;
        }
    }
}

@media (max-width: 678px) {
    .owl-item.active {
        padding: 0 2rem 0 1rem;
    }
}
