.team_title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem 0 3rem 0;
}

.teamList_row-desctop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.teamList_row-mobile {
  display: none;
}

@media (max-width: 768px) {
  .teamList_row-desctop {
    display: none;
  }
  .teamList_row-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.teamList_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  border: 2px solid transparent;
  padding: 5px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.teamList_row-mobile .teamList_item {
  margin: 10px auto;
}
.teamList_row-mobile .teamList_item .teamate_photo, .teamList_row-mobile .teamList_item .teamate_desc {
  display: none;
}

.teamList_row-mobile .teamList_item.active .teamate_photo, .teamList_row-mobile .teamList_item.active .teamate_desc {
  display: block;
}

.teamList_item:hover {
  border-color: #e01f3d;
}
.teamList_item:hover .teamate_desc div {
  opacity: 1;
}
.teamList_item:hover .teamate_name img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.teamate_photo, .teamate_name, .teamate_desc {
  margin: 0 auto;
}

.teamate_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  margin: 10px auto;
}

.teamate_name img {
  height: 7px;
  margin: auto 4px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.teamate_desc {
  font-size: 16px;
}

.teamate_desc p {
  text-align: center;
  margin-bottom: 6px;
}

.teamate_desc div {
  width: 80%;
  text-align: center;
  color: #666666;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.7s opacity;
  transition: 0.7s opacity;
}

.teamList_row-mobile .teamate_desc div {
  opacity: 1;
}